.app__reviews__item {
  border: 2px solid #2185d0;
  background-color: #e0e1e2;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
  margin: 0.5rem auto;
  padding: 0.5rem 0.2rem 0.2rem 0.5rem;
  width: 50%;
}
